@model IEnumerable<Film> 

<div class="row pb-3">
	@foreach(var film in Model)
	{
		<div class="col-lg-3 col-sm-6">
			<div class="row p-2">
				<div class="col-12 p-1">
					<div class="card border-0 p-3 shadow border-top border-5 rounded bg-dark">
						<img src="@film.ImgUrl" class="card-img-top rounded">
						<div class="card-body pb-0">
							<div class="pl-1">
								<p class="card-title h5 opacity-75 text-uppercase text-center">@film.Title</p>
								<p class="card-title text-center text-primary">@film.Producer</p>
								<p class="card-title text-warning text-center">@film.Score <i class="bi bi-star-fill"></i></p>
							</div>
							<div class="pl-1">
								<p class=" opacity-75 text-center">For: <span>@film.Price.ToString("c")</span></p>
							</div>
						</div>
						<div>
							<a asp-action="Details" asp-route-id="@film.Id" class="btn btn-primary bg-success border-0 form-control">
								Details
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>
